In [1]:
name= 'prashu'
age= 32
city='lucknow'

In [3]:
print(name)
print(age)
print(city)

prashu
32
lucknow

In [5]:
print('your name is',name)

your name is prashu

In [8]:
per=10
base=15
hyp=(per**2+base**2)**0.5
print('hypotenousis',round(hyp))

hypotenousis 18

In [9]:
'hello base'

'hello base'

In [10]:
f'hello{base}years old boy'

'hello15years old boy'

In [ ]:
print(f'name')

In [12]:
import math
print(math.pi)
r= 10
circumference=2*math.pi*r
print(f'ans={circumference:1f}')
print(f'ans={round(circumference,1)}')

3.141592653589793
ans=62.831853
ans=62.8

In [13]:
input('what is your name')

'prashu'

In [15]:
name=input('what is your name')
print("oh,so your nameis",name)

oh,so your nameis prashu

In [ ]:
print()

In [22]:
x=int(input('enter your name:'))
y=int(input('enter another number:'))
print(x+y)

54

In [18]:
int('100')

100

In [19]:
float('100')

100.0

In [20]:
x=500
str(x)

'500'

In [21]:
int('10a')

ValueError: invalid literal for int() with base 10: '10a'