In [3]:
students={
    'maulik':{
        'collage':'MU',
        'type':'offline'
    },
    'aman':'NPGE',
    'abhay':'NPGE',
    'mazahir':'AU',
    'imadul':'IU',
    'prashutosh':'SHUATS',
    'shoeb':{
        'collage':'IET',
        'type':'online'
    }

}

In [5]:
from pprint import pp

In [6]:
pp(students)

{'maulik': {'collage': 'MU', 'type': 'offline'},
 'aman': 'NPGE',
 'abhay': 'NPGE',
 'mazahir': 'AU',
 'imadul': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'online'}}

In [8]:
students['maulik']['type']

'offline'

In [10]:
students['sherya']={
    'collage':'BBDU',
    'type' :'online'
}

In [11]:
pp(students)

{'maulik': {'collage': 'MU', 'type': 'offline'},
 'aman': 'NPGE',
 'abhay': 'NPGE',
 'mazahir': 'AU',
 'imadul': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'online'},
 'sherya': {'collage': 'BBDU', 'type': 'online'}}

In [12]:
students['shoeb']['type']='flexi'
pp(students)

{'maulik': {'collage': 'MU', 'type': 'offline'},
 'aman': 'NPGE',
 'abhay': 'NPGE',
 'mazahir': 'AU',
 'imadul': 'IU',
 'prashutosh': 'SHUATS',
 'shoeb': {'collage': 'IET', 'type': 'flexi'},
 'sherya': {'collage': 'BBDU', 'type': 'online'}}

In [13]:
students.pop('abhay')

'NPGE'

In [15]:
pp('students')

'students'

In [3]:
report={
    'class10':{
        'rohan':{
            'english':90,
            'maths':96,
            'hindi':85,
            'science':95,
            'social':95,
            'p.e':88,
        },
        'mohit':{
             'english':50,
            'maths':56,
            'hindi':45,
            'science':55,
            'social':65,
            'p.e':95,

        },
        'shreya':{
             'english':56,
            'maths':76,
            'hindi':80,
            'science':96,
            'social':86,
            'p.e':67,
        },
        'ashish':{
             'english':90,
            'maths':96,
            'hindi':85,
            'science':95,
            'social':95,
            'p.e':46,
        },
        'ravi':{
             'english':90,
            'maths':96,
            'hindi':85,
            'science':95,
            'social':95,
            'p.e':51,
        },
        'rajat':{
             'english':90,
            'maths':96,
            'hindi':85,
            'science':95,
            'social':95,
            'p.e':56,

        },
        
    }
}

In [19]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 96,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e': 88},
             'mohit': {'english': 50,
                       'maths': 56,
                       'hindi': 45,
                       'science': 55,
                       'social': 65,
                       'p.e': 95},
             'shreya': {'english': 56,
                        'maths': 76,
                        'hindi': 80,
                        'science': 96,
                        'social': 86,
                        'p.e': 67},
             'ashish': {'english': 90,
                        'maths': 96,
                        'hindi': 85,
                        'science': 95,
                        'social': 95,
                        'p.e': 46},
             'ravi': {'english': 90,
                      'maths': 96,
                      'hindi': 85,
                      'science': 95,
                      'social': 95,
                      'p.e': 51},
             'rajat': {'english': 90,
                       'maths': 96,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e': 56}}}

In [4]:
print(report.keys())

dict_keys(['class10'])

In [5]:
report['class10'].keys()

dict_keys(['rohan', 'mohit', 'shreya', 'ashish', 'ravi', 'rajat'])

In [6]:
report['class10']['rohan'].keys()

dict_keys(['english', 'maths', 'hindi', 'science', 'social', 'p.e'])

In [8]:
report['class10']['rohan']['english'].keys()

AttributeError: 'int' object has no attribute 'keys'

In [9]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 88}, {'english': 50, 'maths': 56, 'hindi': 45, 'science': 55, 'social': 65, 'p.e': 95}, {'english': 56, 'maths': 76, 'hindi': 80, 'science': 96, 'social': 86, 'p.e': 67}, {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 46}, {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 51}, {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 56}])

In [10]:
movies={
    '3 idiots':'a story of three idiots frds',
    'lunchbox':'a story about a lunchbox',
    'dangal':'a story about a wrestler',
    'pk':'a story about an alien',
    'taare jameen per':'a story about a dylexic child'
}

In [11]:
movies.items()

dict_items([('3 idiots', 'a story of three idiots frds'), ('lunchbox', 'a story about a lunchbox'), ('dangal', 'a story about a wrestler'), ('pk', 'a story about an alien'), ('taare jameen per', 'a story about a dylexic child')])

In [12]:
for k,v in movies.items():
    print(f'{k:20}{v}')

3 idiots            a story of three idiots frds
lunchbox            a story about a lunchbox
dangal              a story about a wrestler
pk                  a story about an alien
taare jameen per    a story about a dylexic child

In [13]:
isinstance(report['class10'],dict)

True

In [15]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(students,dict):
                for subject,marks in subjects.items():
                    print('->',subject,'=',marks)

class10
-> rohan
-> english = 90
-> maths = 96
-> hindi = 85
-> science = 95
-> social = 95
-> p.e = 88
-> mohit
-> english = 50
-> maths = 56
-> hindi = 45
-> science = 55
-> social = 65
-> p.e = 95
-> shreya
-> english = 56
-> maths = 76
-> hindi = 80
-> science = 96
-> social = 86
-> p.e = 67
-> ashish
-> english = 90
-> maths = 96
-> hindi = 85
-> science = 95
-> social = 95
-> p.e = 46
-> ravi
-> english = 90
-> maths = 96
-> hindi = 85
-> science = 95
-> social = 95
-> p.e = 51
-> rajat
-> english = 90
-> maths = 96
-> hindi = 85
-> science = 95
-> social = 95
-> p.e = 56

In [17]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(students,dict):
                total=0
                for subject,marks in subjects.items():
                    total += marks
                print('total->',total)

class10
-> rohan
total-> 549
-> mohit
total-> 366
-> shreya
total-> 461
-> ashish
total-> 507
-> ravi
total-> 512
-> rajat
total-> 517

In [19]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(students,dict):
                total=0
                for subject,marks in subjects.items():
                    total += marks
                print('total->',total)
                print('avg->',total//6)

class10
-> rohan
total-> 549
avg-> 91
-> mohit
total-> 366
avg-> 61
-> shreya
total-> 461
avg-> 76
-> ashish
total-> 507
avg-> 84
-> ravi
total-> 512
avg-> 85
-> rajat
total-> 517
avg-> 86

In [20]:
for cls,students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(students,dict):
                mm =None
                sub=None
                for subject,marks in subjects.items():
                    if mm is None or mm <marks:
                        mm=marks
                        sub= subjects
                print('max->',sub,mm)

class10
-> rohan
max-> {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 88} 96
-> mohit
max-> {'english': 50, 'maths': 56, 'hindi': 45, 'science': 55, 'social': 65, 'p.e': 95} 95
-> shreya
max-> {'english': 56, 'maths': 76, 'hindi': 80, 'science': 96, 'social': 86, 'p.e': 67} 96
-> ashish
max-> {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 46} 96
-> ravi
max-> {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 51} 96
-> rajat
max-> {'english': 90, 'maths': 96, 'hindi': 85, 'science': 95, 'social': 95, 'p.e': 56} 96

In [ ]:
my_list=[]
n=int(input("enter number of elements: "))
for i