In [ ]:
strings
-creating
-slicing
-methods
-indexing

In [2]:
a='hello'
b="hola"
c='''this is a multiline massage from the past '''

In [6]:
print('this is a \'importent\' message')
print("this is a 'important' massege")

this is a 'importent' message
this is a 'important' massege

In [7]:
name =input('enter your name:')
print(name)

prashu

In [8]:
x=str(23557327654)
print(x)

23557327654

In [9]:
name='viyay deenath chauhan'

In [10]:
print(name[0])
print(name[-1])

v
n

In [17]:
print(name[ :5])
print(name[6:15])
print(name[-7:])
print(name[::-1])
print(name[::2])

viyay
deenath c
chauhan
nahuahc htaneed yayiv
vyydeahcahn

In [18]:
msg='Journey Before Destination'
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.casefold())
print(msg.swapcase())

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
journey before destination
jOURNEY bEFORE dESTINATION

In [24]:
print(f'{msg:>53},*')

                           Journey Before Destination,*

In [23]:
print('num pow result')
for i in range (1,21):
    print(f'{i:<3} {2:<3}={i**3:<6}')

num pow result
1   2  =1
2   2  =8
3   2  =27
4   2  =64
5   2  =125
6   2  =216
7   2  =343
8   2  =512
9   2  =729
10  2  =1000
11  2  =1331
12  2  =1728
13  2  =2197
14  2  =2744
15  2  =3375
16  2  =4096
17  2  =4913
18  2  =5832
19  2  =6859
20  2  =8000

In [25]:
a='hello'
print(a.isalpha())
print(a.isalnum())
print(a.isnumeric())

True
True
False

In [26]:
num1=input('enter a number')
if num1.isalpha():
    print('we dont want alphabets')
elif num1.isnumeric():
    print('good job')
    num1 =int(num1)

good job

In [27]:
name = 'Dr. watson'
if name.startswith('Mr'):
    print('hello Mister')
elif name.startswith('Dr'):
    print('Hello doctor')
elif name.startswith('Er'):
    print('Hello engineer')

Hello doctor

In [28]:
msg.split()

['Journey', 'Before', 'Destination']

In [30]:
data ='1-0','2-0','4-6','6-5'
score=data.split(',')
print(score)

AttributeError: 'tuple' object has no attribute 'split'

In [31]:
user_values =input('enter values seperate by,')
print(user_values.split(','))

['1', '2', '3', '4']

In [ ]:
values =['hello','this','is',]